<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-navbar></app-navbar>
    <header>
        <h1>Bienvenido a Nuestra Plataforma de Salud</h1>
        <p class="subtitle">Descubre nuestros productos diseñados para mejorar tu bienestar.</p>
    </header>
        
    <div class="container">
        <section class="card">
            <h2>Nuestros Productos</h2>
            <div class="grid-productos">
                <div class="producto">
                    <h3>Bio C</h3>
                    <p>Protección al más alto nivel con Vitamina C.</p>
                    <a routerLink="/vitamina-c" class="btn">Ver Más</a>
                </div>
                <div class="producto">
                    <h3>Fusion-Flex</h3>
                    <p>Salud articular en cada dosis.</p>
                    <a routerLink="/fusion-flex" class="btn">Ver Más</a>
                </div>
            </div>
        </section>
    </div>
    
    <footer>
        <p>&copy; 2023 Salud y Bienestar. Todos los derechos reservados.</p>
    </footer>
</body>
</html>