<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Button</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>

    <a href="https://wa.me/593987128770?text=Deseo%20asesor%C3%ADa%20personalizada%20sobre%20sus%20productos" class="float-wa" target="_blank">
        <i class="fa fa-whatsapp"></i>
    </a>

</body>
</html>
