<div class="whatsapp-container">
    <!-- Tooltip con *ngIf para controlar su visibilidad -->
    <div class="whatsapp-tooltip" *ngIf="isTooltipVisible">
      <div class="close-circle" (click)="closeTooltip()">&times;</div>
      Para una atención más pronta y personalizada llamar al 593xxxxxxx y lo atenderemos lo más pronto posible.
    </div>
  
    <!-- Botón de WhatsApp -->
    <a href="https://wa.me/593XXXXXXXXX?text=Deseo%20asesoría%20personalizada%20sobre%20sus%20productos" class="float-wa" target="_blank">
      <i class="fa fa-whatsapp"></i>
    </a>
  </div>