<nav>
    <a href="#beneficios">Beneficios</a>
    <a href="#ingredientes">Ingredientes</a>
    <a href="#posologia">Posología</a>
</nav>
<header>
    <h1>Fusion-Flex: Mantén la salud y correcto funcionamiento de las articulaciones</h1>
</header>
<div class="container">
    <section id="beneficios">
        <h2>Beneficios</h2>
        <ul>
            <li>Disminuye el dolor de las articulaciones.</li>
            <li>Mejora el rendimiento deportivo.</li>
            <li>Retrasa el deterioro óseo.</li>
            <li>Reparación de los tejidos.</li>
            <li>Huesos fuertes.</li>
        </ul>
    </section>

    <section id="ingredientes">
        <h2>Ingredientes</h2>
        <ol>
            <li>
                <strong>Glucosamina y condroitina:</strong>
                Sustancias presentes en el cartílago que ayudan a mantener su elasticidad lubricando las articulaciones.
            </li>
            <li>
                <strong>Ácido hialurónico:</strong>
                Vital para el fluido sinovial que soporta los huesos y las articulaciones. Proporciona amortiguación y ayuda a transportar nutrientes y reponer el cartílago.
            </li>
            <li>
                <strong>Colágeno Tipo II y III:</strong>
                Aporta flexibilidad y resistencia. Es importante para nuestros tendones, huesos y ligamentos.
            </li>
            <li>
                <strong>Vitamina C:</strong>
                Precursor de colágeno y eficaz antioxidante.
            </li>
        </ol>
    </section>

    <section id="posologia">
        <h2>Posología</h2>
        <p>
            <strong>Vía de administración:</strong> Oral (malteada).
        </p>
        <p>
            <strong>Dosis:</strong> 2 cucharadas 2 veces al día, salvo mejor criterio médico.
        </p>
    </section>
</div>

<footer>
    <p>&copy; 2023 Fusion-Flex. Todos los derechos reservados.</p>
</footer>